:root {
  --page-margin: 2rem;
  --border-radius: 0;
  --off-white-0: #f8f5f5;
  --off-white-1: #f6f2f2;
  --off-white-2: #f3ecec;
  --off-white-3: #b9abab;
  --middle-light-gray: rgb(139, 136, 136);
  --middle-gray: rgb(114, 112, 112);
  --dark-gray: rgb(65, 63, 63);
  --brand-red-1: rgb(209, 70, 77);
  --brand-red-2: rgb(226, 80, 87);
  --brand-red-3: rgb(233, 99, 106);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Barlow', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h3,
h4 {
  font-weight: 600;
}
h2 {
  font-weight: 800;
}

button {
  cursor: pointer;
}

.contained {
  max-width: min(calc(100% - calc(var(--page-margin) * 2)), 1140px);
  margin: 0 auto;
}

select {
  padding: 0.2rem;
  padding-right: 1rem;
  font-size: 0.9rem;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: underline;
}

.button-full-width {
  width: 100%;
}
.button-red {
  background-color: var(--brand-red-2);
  transition: background-color 0.2s;
  color: white;
}
.button-red:hover {
  background-color: var(--brand-red-3);
}
.button-red:active {
  background-color: var(--brand-red-2);
  transition: background-color 0s;
}
.button-gray {
  background-color: var(--dark-gray);
  transition: background-color 0.2s;
  color: white;
}
.button-gray:hover {
  background-color: var(--middle-gray);
}
.button-gray:active {
  background-color: var(--dark-gray);
  transition: background-color 0s;
}

.button-disabled,
.button-disabled:hover,
.button-disabled:active {
  background-color: var(--off-white-0);
  color: var(--middle-gray);
  cursor: default;
}

@media screen and (max-width: 800px) {
  :root {
    --page-margin: 1rem;
  }
}
