.products-container {
  display: flex;
  column-gap: 2rem;
}
.products-sidebar {
  flex: 1;
}
.products-main {
  flex: 4;
}

.products-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1rem;
  row-gap: 1rem;
}
.product-card {
  background-color: var(--off-white-0);
  border-radius: var(--border-radius);
  overflow: hidden;
  position: relative;
}
.product-card a:hover {
  text-decoration: none;
}

.product-card:hover .product-card__attribution {
  top: 0rem;
  opacity: 1;
  transition: top 0.2s, opacity 0.3s;
}
.product-card__attribution {
  position: absolute;
  top: -0.6rem;
  z-index: 10;
  width: 100%;
  color: var(--middle-gray);
  background-color: var(--off-white-0);
  opacity: 0;
  font-size: 0.8rem;
  text-align: center;
  padding: 0.3rem 0;
  transition: top 0.15s, opacity 0.2s;
}
.product-card__attribution a {
  text-decoration: underline;
}
.product-card__attribution a:hover {
  color: black;
}
.product-card__img-container {
  width: 100%;
  padding-top: calc(4vw + 12rem);
  position: relative;
  overflow: hidden;
}
.product-card__img-container > * {
  position: absolute;
  animation: fade-in 0.5s;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.product-card__img {
  --zoom-percent: 0%;
  top: calc(var(--zoom-percent) * -0.5);
  left: calc(var(--zoom-percent) * -0.5);
  width: calc(var(--zoom-percent) + 100%);
  height: calc(var(--zoom-percent) + 100%);
  object-fit: cover;
}
.product-card__placeholder {
  top: 0;
  left: -75%;
  width: 250%;
  height: 100%;
  background-size: 50%;
  background-image: linear-gradient(to right, #fff, #f4f4f4 50%, #fff 100%);
  animation: ripple 1.8s infinite;
}
@keyframes ripple {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}

.product-card__info-container {
  padding: 0.8rem 1rem 1.1rem 1rem;
}
.product-card__name {
  font-weight: 600;
  font-size: 1.1rem;
  margin: 0 0 0 0;
}
.product-card__category {
  color: var(--middle-gray);
  font-weight: 400;
  font-size: 0.9rem;
  margin: 0.15rem 0 0 0;
}
.product-card__price {
  font-weight: 400;
  font-size: 0.9rem;
  margin: 0.45rem 0 0 0;
}
.product-card__price-slash {
  color: var(--middle-gray);
  text-decoration: line-through;
}
.product-card__sale-price {
  color: var(--brand-red-2);
  font-weight: 500;
  font-size: 0.9rem;
  margin: 0.45rem 0 0 0;
  margin-right: 0.5rem;
}

.products-sidebar {
  padding-top: 0.8rem;
}
.products-filter-container {
  margin-bottom: 1.5rem;
}
.products-filter-label {
  color: var(--middle-gray);
  font-size: 0.75rem;
  font-weight: 400;
  margin: 0 0 0.7rem 0;
}
.products-filter {
  font-size: 0.95rem;
  padding: 0.5rem 0;
  border-radius: var(--border-radius);
  color: black;
  /* border-bottom: 1px solid var(--middle-gray); */
  cursor: pointer;
  transition: color 0.2s, padding 0.3s, background-color 0.2s;
}
.products-filter:hover {
  color: var(--middle-gray);
}
.products-filter-active {
  padding-left: 0.5rem;
  background-color: var(--off-white-1);
  color: black;
  transition: color 0s, padding 0.3s, background-color 0.2s;
}
.products-filter-sort {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .products-grid {
    grid-template-columns: 1fr 1fr;
  }
}
/* @media screen and (max-width: 576px) {
  .products-grid {
    grid-template-columns: 1fr;
  }
} */
