.cart__container {
  display: flex;
  column-gap: 4rem;
}
.cart__main {
  flex: 2;
}
.cart__sidebar {
  flex: 1;
}
.cart__item {
  display: flex;
  column-gap: calc(0.5rem + 2vw);
  margin-bottom: 0.5rem;
}
.cart__item-img-container {
  width: calc(6rem + 6vw);
  padding-top: calc(6rem + 6vw);
  border-radius: var(--border-radius);
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.cart__item-img {
  position: absolute;
  --zoom-percent: 15%;
  top: calc(var(--zoom-percent) * -0.5);
  left: calc(var(--zoom-percent) * -0.5);
  width: calc(var(--zoom-percent) + 100%);
  height: calc(var(--zoom-percent) + 100%);
  object-fit: cover;
  animation: fade-in 0.5s;
}
.cart__item-info-container {
  width: 100%;
}
.cart__item-info-title {
  font-size: 1.05rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.cart__item-name {
  margin: 0.3rem 0 0 0;
  font-weight: 500;
}
.cart__item-options {
  display: flex;
  align-items: center;
  margin: 1rem 0 0 0;
}
.cart__item-price {
  margin: 0.3rem 0 0 0;
  font-weight: 500;
}
.cart__item-price-slash {
  font-weight: 400;
  color: var(--middle-light-gray);
  text-decoration: line-through;
  margin-right: 0.8rem;
}
.cart__item-sale-price {
}
.cart__item-category {
  color: var(--middle-gray);
  font-size: 1rem;
  font-weight: 400;
  margin: 0.4rem 0 0 0;
}
.cart__item-size {
  font-weight: 400;
}
.cart__item-quantity {
  margin-left: 0.5rem;
}
.cart__delete {
  color: var(--dark-gray);
  font-size: 1.1rem;
  margin-left: 0.5rem;
  cursor: pointer;
  transition: color 0.2s;
}
.cart__delete:hover {
  color: var(--middle-gray);
}
.cart__delete:active {
  color: var(--dark-gray);
  transition: color 0;
}

.cart__sidebar-title {
  margin-top: 0;
}
.cart__sidebar-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.cart__sidebar-row p {
  margin: 0 0 1.2rem 0;
}
.cart__sidebar-row-total {
  margin-top: 0.8rem;
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
}
.cart__sidebar-row-total p {
  margin: 1.2rem 0;
}
.cart__sidebar-total {
  font-weight: 600;
}
.cart__button {
  margin-top: 2rem;
  padding: 1.1rem 0rem;
  border-radius: 100rem;
  border: 0px;
  font-size: 1rem;
}

@media screen and (max-width: 768px) {
  .cart__container {
    display: block;
  }
  .cart__main {
    margin-bottom: 1.5rem;
  }
  .cart__sidebar {
    margin-bottom: 2rem;
  }
  .cart__item-info-title {
    font-size: 0.85rem;
  }
  .cart__item-category {
    font-size: 0.85rem;
  }
  .cart__item-size {
    font-size: 0.8rem;
  }
  .cart__item-quantity {
    font-size: 0.8rem;
  }
  .cart__item-options .select {
    padding-right: 0.5rem;
  }
}

@media screen and (max-width: 576px) {
  .cart__item-price-slash {
    display: none;
  }
}
